<div class="container p-0">

    <h1 class="h3 mt-3 p-2 jumbotron text-center bg-light border card">Configuración del perfil</h1>

    <div class="row">
        <!--
            MENU
        -->
        <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Ajustes del perfil</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
                        Datos del perfil
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#pic" role="tab">
                        Foto de perfil
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#email" role="tab">
                        Email
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                        Contraseña
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#delete-account" role="tab">
                        Eliminar cuenta
                    </a>
                </div>
            </div>
        </div>
        <!--
            /MENU
        -->
        <!-- AJUSTES -->

        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <!-- CUENTA -->
                <div class="tab-pane fade show active" id="account" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Datos del perfil</h5>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="formDatos">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="inputUsername">Nombre de usuario</label>
                                            <input type="text" class="form-control" formControlName="userName" placeholder="Nombre de usuario">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUsername">Descripción</label>
                                            <textarea rows="2" class="form-control" formControlName="description" placeholder="Escribe algo sobre ti"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" *ngIf="formDatos.valid" (click)="modifyUserData(formDatos.value)">Guardar cambios</button>
                                <button type="submit" class="btn btn-primary" *ngIf="formDatos.invalid" disabled>Guardar cambios</button>
                            </form>
                        </div>

                    </div>

                </div>

                <!-- FOTO -->
                <div class="tab-pane fane" id="pic" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Foto del perfil</h5>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="formUrl">
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="text-center">
                                            <img alt="profilepic" [src]="url" class="rounded img-responsive mt-2 mb-2" width="300" height="300">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" [ngModel]="url" formControlName="url" (blur)="actualizarImagen(formUrl.value)">
                                    <button class="btn btn-primary input-group-append" (click)="modifyImgurl(formUrl.value)">Cambiar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="tab-pane fade" id="email" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Email</h5>
                        </div>
                        <div class="card-body">

                            <form [formGroup]="formEmail">
                                <div class="form-group">
                                    <label for="inputPassCurrent">Nuevo email</label>
                                    <input type="email" class="form-control" formControlName="newEmail">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Contraseña</label>
                                    <input type="password" class="form-control" formControlName="password">
                                </div>
                                <button type="submit" class="btn btn-primary" *ngIf="formEmail.valid" (click)="modifyUserEmail(formEmail.value)">Guardar cambios</button>
                                <button type="submit" class="btn btn-primary" *ngIf="formEmail.invalid" disabled>Guardar cambios</button>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- CONTRASEÑA -->
                <div class="tab-pane fade" id="password" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Cambio de contraseña</h5>
                        </div>
                        <div class="card-body">

                            <form [formGroup]="formContrasenna">
                                <div class="form-group">
                                    <label for="inputPasswordCurrent">Contraseña actual</label>
                                    <input type="password" class="form-control" formControlName="currentPassword">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">Nueva contraseña</label>
                                    <input type="password" class="form-control" formControlName="newPassword">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNewConfirm">Confirmar nueva contraseña</label>
                                    <input type="password" class="form-control" formControlName="newPasswordConfirm">
                                </div>
                                <button type="submit" class="btn btn-primary" *ngIf="formContrasenna.valid" (click)="modifyUserPassword(formContrasenna.value)">Guardar cambios</button>
                                <button type="submit" class="btn btn-primary" *ngIf="formContrasenna.invalid" disabled>Guardar cambios</button>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- BORRAR CUENTA -->
                <div class="tab-pane fade" id="delete-account" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Eliminar cuenta de usuario</h5>
                        </div>
                        <div class="card-body">

                            <form [formGroup]="formEliminar">
                                <div class="form-group">
                                    <label for="inputCurrentPass">Contraseña</label>
                                    <input type="password" class="form-control" formControlName="password">
                                </div>
                                <button type="submit" class="btn btn-danger" *ngIf="formEliminar.valid" (click)="deleteAccount(formEliminar.value)">Borrar cuenta</button>
                                <button type="submit" class="btn btn-danger" *ngIf="formEliminar.invalid" disabled>Borrar cuenta</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>