<div class="container text-center p-lg-5">
    <form [formGroup]="formRegister" class="form mx-auto col-lg-4" (submit)="register(formRegister.value)">
        <h1 class="text-light">Talkee</h1>
        <img class="mb-5" src="../assets/logo.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal text-white">Registro</h1>
        <label for="inputEmail" class="sr-only">Correo electrónico</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
            </div>
            <input type="email" formControlName="email" class="form-control" placeholder="Correo electrónico" required autofocus>
        </div>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña" required>
        </div>
        <label for="inputPasswordCheck" class="sr-only">Confirmar contraseña</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" formControlName="passwordConfirm" class="form-control" placeholder="Confirmar contraseña" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
    </form>
    <div class="container text-center p-lg-5">
        <span>¿Ya tienes cuenta? </span>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">Inicia sesión aquí</a>
    </div>
</div>