<nav class="navbar navbar-expand-sm navbar-dark sticky-top">
    <div class="container">
        <span class="navbar-brand">
            <img src="../assets/logo.png" alt="Logo" style="width:40px;">
          </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/home' ]" routerLinkActive="active"><i class="fas fa-home"></i> Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-lg-auto">
                    <form [formGroup]="formBusqueda" class="form-inline ml-lg-5">
                        <div class="form-group">
                            <div class="input-group">
                                <label for="statictext" class="sr-only">Text</label>
                                <input type="text" class="form-control" formControlName="query" [(ngModel)]="query">
                                <div class="input-group-append">
                                    <a class="btn text-light bg-turquesa" *ngIf="formBusqueda.valid" [routerLink]="['search', query]" routerLinkActive="router-link-active"><i class="fas fa-search"></i> Buscar</a>
                                    <a class="btn text-light bg-turquesa" *ngIf="formBusqueda.invalid" disabled><i class="fas fa-search"></i> Buscar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Perfil</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <a class="nav-link dropdown-item" [routerLink]="[ '/profile' ]" routerLinkActive="active"><i class="fas fa-user-circle"></i> Ver perfil</a>
                            <a class="nav-link dropdown-item" [routerLink]="[ '/settings' ]" routerLinkActive="active"><i class="fas fa-cog"></i> Configuracion del perfil</a>
                            <a class="nav-link dropdown-item" [routerLink]="[ '/logout' ]" routerLinkActive="active"><i class="fas fa-power-off"></i> Cerrar sesion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>