<div class="row mt-5">
    <div class="col-md-4">
        <div class="card border-0">
            <div class="card-head p-0">
                <img src="{{ user.urlImagen}}" alt="Sin foto de perfil" width="100%" class="">
            </div>
            <div class="card-body">
                <div class="h5" *ngIf="user.UserName">{{ user.UserName }}</div>
                <div class="h5" *ngIf="!user.UserName">Anonymous</div>
                <div class="h7" *ngIf="user.Description">{{ user.Description }}</div>
                <div class="h7" *ngIf="!user.Description">Descripción de Anonymous</div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="h6 text-muted" [routerLink]="['/followers/', user.UserID ]" routerLinkActive="router-link-active">Seguidores</a>
                    <div class="h5">0</div>
                </li>
                <li class="list-group-item">
                    <a class="h6 text-muted" [routerLink]="['/follows/', user.UserID ]" routerLinkActive="router-link-active">Seguidos</a>
                    <div class="h5">0</div>
                </li>
                <li class="list-group-item">
                    <a class="nav-link dropdown-item" [routerLink]="[ '/settings' ]" routerLinkActive="active"><i
                            class="fas fa-cog"></i> Configuracion del perfil</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 gedf-main">
        <!--- \\\\\\\Post-->
        <div class="card gedf-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item mx-auto">
                        <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Comparte un post</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                        <form [formGroup]="formPost">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" formControlName="texto" rows="3" placeholder="¿Qué estás pensando?"></textarea>
                            </div>
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary btn-block" (click)="createPost(formPost.value)">Compartir</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Post /////-->
        <ng-container *ngIf="posts.length;else elseTemplate">
            <div *ngFor="let post of posts">
                <app-post [UserName]="user.UserName" [Content]="post.content" [type]="post.type" [date]="post.date" [Url]="user.urlImagen">
                </app-post>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div>
                <h4 class="text-center">No hay posts disponibles</h4>
            </div>
        </ng-template>






    </div>
</div>